.gradle
/local.properties
/.idea/workspace.xml
/.idea/runConfigurations.xml
.DS_Store
/build

.idea/libraries
.idea/library
.idea/dictionaries/*.xml
.idea/libraries
app/*.apk
app/app.iml

gen-external-apklibs
gen
target
out
projectFilesBackup
*.apk
